@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rock+Salt&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#logo-link {
    padding-top: 5px;
}
nav a {
    text-align: center;
    color:#fcfbfb;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color:rgb(96, 95, 116);
}
body {
    background-color:#fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: rgba(20,30,13, .7);
    color: white;
}
nav a:hover {
    background-color:black;
    color:#d9c2a3;
}
.book, .join {
    background-color:#d9c2a3;
    color:black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color:#07beb8;
    color:white;
}
.msg {
    background-color:#6f7364;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color:#68d8d6;
    
}
.home-title {
    font-family: "Rocket Salt", "Bradley Hand", sans-serif;
    font-size: 2em;
    color:#07beb8;
    margin-top: 10px
}
h4 {
    color:#07beb8;
}
.msg h2 {
    font-family: "Rocket Salt", "Bradley Hand", sans-serif;
    color:whitesmoke;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
    color: white;
}
footer {
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}
footer a {
    color:blueviolet;
    text-decoration: none;
}
footer a:hover {
    color:grey;
}
.log {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #0a0a0a;
}