nav  {
    display: flex;
    flex-direction: column;
    background-color: steelblue;
    color: white;
    text-align: center;
    padding: 10px 25px;
    width: 400px;
}
a {
    font-size: 1.5em;
    color: white;
    margin: 10px 20px;

}
a:hover {
    background-color: white;
    color: steelblue;
}

body {
    margin: 0;
    padding: 0;
}
